{% extends 'base.html' %}

{% block content %}
<h1>SweetBites Bakery</h1>

<h2>Product List</h2>

<!-- Jika tidak ada produk -->
{% if not products %}
<p>Belum ada produk yang tersedia.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Stock</th>
    <th>Category</th>
    <th>Date Added</th>
  </tr>

  <!-- Menampilkan data produk -->
  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.stock }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.date_added }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<!-- Tombol untuk menambahkan produk baru -->
<br />
<a href="{% url 'create_product' %}">
  <button>Add New Product</button>
</a>

{% endblock content %}
